RESEND_API_KEY=
CONTACT_TO_EMAIL=farzadhammdard122@gmail.com
CONTACT_FROM_EMAIL="Portfolio <onboarding@resend.dev>"

PORTFOLIO_ADMIN_SECRET=
PORTFOLIO_ADMIN_USERNAME=admin
PORTFOLIO_ADMIN_PASSWORD=123
